.note1container{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 1cm;
    margin-left: 12cm;
    width:50vw;
    border:0.1mm;
    border-radius: 2mm;
    outline: 0;
    
    
}
.note1container2{
    text-align: center;
    margin-top: 0.7cm;
    margin-left: -4.5cm;
}


 