input[type=text1] {
    border: none;
    margin-left: 2mm;
    background-color: none;
    outline: 0;
    font-size: 16px;
    height: 30px;
    width: 40vw;
    margin-bottom: 2mm;
   
  }

  input[type=text2] {
    border: none;
    margin-left: 1mm;
    background-color: none;
    outline: 0;
    font-size: 15px;
    height: 30px;
    width: 40vw;
    margin-bottom: 2mm;
    
  }

