.note1container{
    display: flex;
    flex-direction: row;
    margin-top: 1cm;
    margin-left: 9.8cm;
    width: 31.9cm;
    border:0.1mm;
    border-radius: 2mm;
    background-color: none;
    outline: 0;
    
}
.note1container2{
    text-align: center;
    margin-top: 0.7cm;
    margin-left: -4.5cm;
}


 