.Container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width:58vw;
    margin-left:20ch;
    border: 0.5ch white;
    border-style:ridge;
    
}

.Column1{
    display: flex;
    flex-direction: column;
    width: 32vw;
    justify-content: space-between;
    
    
    
}
.Column2{
    display: flex;
    flex-direction:column;
    width: 26vw;
    height: 60vh;
    text-indent: 6ch;
    
    
    
}

.img{
    width:12vw;
    height:25vh;
    margin-left:2cm; 
    padding-top: 1ch;
}

.imageset{
    margin-left:6mm;
    margin-top: 6mm;
    
}

.labeltext{
    width:10cm ;
}

.inputtext{
    margin-left: 5mm;
}




.Box1{
    display: flexbox;
    flex-direction: row;
    
    float: left;
    text-align: start;
    text-indent: 4ch;
    font-family: 'Times New Roman', Times, serif;
}

.Box2{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 49vw;
    margin-left: 3.5ch;
    justify-content:space-between; 
}

.Box3{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 30vw;
    margin-left: 3.5ch;
    margin-top:2ch;
}

.Box4{
    display: flex;
    flex-direction: row;
    height: 6vh;
    width: 30vw;
    margin-left: 3.5ch;
    justify-content:space-between; 
    
    
    
}

.input{
    width: 50ch;
    height:4ch;
    
}

.lastlabel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 7vh; 
    width: 11cm;
    margin-left: 4ch;
    
    
    
}

.btn1 {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: inherit;
    margin-left: 3ch;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    color:blue;  
  }
  .btn1:hover {background: #eee;}

  .btn2{
    display: flex;
    flex-direction: row;
    background-color: #0000ff;
    width:18mm;
    height: 10mm;
    margin-left:27ch;
    color: white;
    align-items: center;
    text-indent:1.5ch;
    
}
.btn2:hover{background: navy;}

.Checkbox{
    display: flex;
    flex-direction: row;
    margin-right:8.5cm;
    margin-left:7mm;
    height: 2cm;
    font-size: small;
    align-items: center;
    width:10vw;
    text-indent:3mm;
    
    
}
h5{
    text-align:center;
    text-indent: 4ch;
    margin-left: 10ch;
}

.textset{
    margin-right:19ch;
    margin-top: 3mm;
    font-size: small;
}

.textset1{
    margin-left:5mm;
    margin-top: 1mm;
    font-size: small;
}
